 .group-input {
    width: 30%;
    background-color: transparent;
    outline: none;
    color: black;
    height: 40px;
    border: 1px solid darkblue;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(163, 163, 163);
    padding-left: 10px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;


}

.search-category{
    text-align: center;
    margin: auto;
}


.category-search-div{
    flex: 85%;
    height: calc(100vh - 8vh);
    padding: 20px 40px;
}

.cate-list-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0;
}