.create-post-gs{
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
    border-radius: 10px;
    width: 100%;
    height: 100px;
}

.cp-wrapper-gs {
    margin: auto;
    width: 100%;
    height: 70%;
    display: flex;
}

.cp-input-gs{
    resize: none;
    width: 90%;
    border-style: none;
    padding: 7px 10px;
    border-radius: 10px;
    height: 90px;
    background-color: transparent;
}
.cp-input-gs:focus{
    outline: none;
}

.cp-button-gs{
    margin: 20px 10px 0 25px;
    padding: 0 10px;
    width: 5%;
    height: 80%;
    font-size: 2rem;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    background-color: rgba(0, 0, 139, 0.74);
    color: white;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
}

.cp-button-gs:hover{
    transform: scale(1.1);
}