[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "python manage.py runserver"
test = "python manage.py test"
coverage = "coverage run --source='.' manage.py test"
coverage_report = "coverage report -m"
