.contentDiv{
  padding-top: 4rem;
  flex: 25%;
  background-color: rgb(175, 0, 175);
}


.col-lg-8{
  display: flex;
  height: auto;
  padding-top: calc(100vh - 92vh);
  background-color: tomato;
}

.row{
  width: 100%;
  background-color:  thistle;
}

.page-holder section {
  width: 100%;
  background-color: teal;
}

.page-heading{
  padding-left: 40px;
}

