
.group-row{
    max-width: 85%;
    min-width: 85%;
    height: 300px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 30px;
}

.group-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
}

.group-name{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}

.cate-btn{
    width: 100%;
    border-style: none;
    margin: auto;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    
}

.group-row:hover{
    transform: scale(1.1);
}