.res-cont {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.res-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 70%;
}

.res-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:100%;
    max-width: 100%;
}

.res-title{
    white-space: nowrap;
    min-width: 30%;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}

.res-author{
    white-space: nowrap;
    min-width: 20%;
    max-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res-year{
    white-space: nowrap;
    min-width: 5%;
    max-width: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res-subject{
    white-space: nowrap;
    min-width: 15%;
    max-width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
}
