
#logout-button {
    background-color: white;
    color: black;
    width: 6vw;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 1px 1px 6px rgb(163, 163, 163);
}

#logout-button:hover {
    background-color: rgb(28, 28, 110);
    color: white;

}