.post-feed {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    height: auto;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
}

.post-wrapper{
    padding: 10px;
    height: auto;
}

.post-top{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}

.post-top-left{
    display: flex;
    align-items: center;

}

.post-profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    object-fit: cover;
    margin: auto;
    align-items: center;
}

.post-username{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 10px;
}

.post-center{
    padding: 5px 40px;
}

.post-date{
    font-size: 1rem;
    color: rgb(102, 102, 102);
}

.post-text{
    font-size: 1.2rem;
    width: 100%;
    height: auto;
}

.fa-thumbs-down{
    margin-left: 20px;
}
.post-center{
    margin: 10px 0;
}

.post-bottom{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    border-bottom: 1px solid rgb(209, 209, 209);
   
}

.post-bottom .fas {
    color: grey;
    cursor: pointer;
    font-size: 1.6rem;
    
}

.reaction-num{
    font-size: 1.6rem;
    margin-left: 30px;
}

.post-bottom:hover .fas:hover {
    transform: scale(1.1);
    color: darkblue;
}

.post-comment-text{
    cursor: pointer;
    font-size: 1.2rem;
}

.post-comment-text:hover{
    transform: scale(1.1);
}

.post-top-right select:focus{
    outline: none;
}

.post-top-right select{
    border-style: none;
    font-size: 1.3rem;
}



