.gs-title{
    flex: 85%;
    height: calc(100vh - 8vh);
    padding: 20px 40px;
    display: block;
}

.create-p-cont-gs{
    width: 90%;
    margin: auto;
    display: block;
    padding-top: 70px;
    margin-left: -20px;

}
  
.post-cont-gs{
    padding-top: 30px;
    width: 90%;
    margin: auto;
    height: auto;
    display: block;
    margin-left: -20px;
}

.post-feed1{
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    height: auto;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
}