@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}