.wrapper {
    position: relative;
    max-width: 310px;
    min-width: 310px;
    height:100%;
    border-radius: 5px;
    padding: 30px 5px;
    margin-left: 60px;
}

.wrapper .search-input{
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    position: relative;
    margin: auto;
  }

  .search-input input{
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 35px 0 20px;
    font-size: 15px;
    box-shadow: 0 0 1px 1px rgb(167, 167, 167); 
    background-color: transparent;
    color: black;
  }
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid rgb(167, 167, 167);
    background-color: white;
    color: black;
    text-decoration: none;
  }
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: darkblue;
    color:white;
  }
  .search-input .icon{
    position: absolute;
    right: -15px;
    top: -12px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 13px;
    color: rgb(192, 192, 192);
    cursor: pointer;
    margin: auto;
    margin-top: 5px;
  }